{% extends 'master.html' %}
{% load crispy_forms_tags %}

{% block body %}


<div class="row">
<div class="col-lg-6">
    <h4>  Add Project </h4>
    <form action="/" method="post" class="">
        {% crispy form %}
  </form>
</div>
</div>


<h2>  Project List </h2>

<table class="table">
  <thead>
    <th>პროექტი</th>
    <th>შემადგნელობა</th>
    <th>ზომა</th>
    <th>ერთეულის ფასი</th>

  </thead>

  <tbody>
  {% for itm in projects %}
    <tr>
        <td> {{ itm.name }}</td>
        <td> {{ itm.shemadgneloba }} </td>
        <td> {{ itm.zoma }} </td>
        <td> {{ itm.erteulis_fasi }} </td>
    </tr>
  {% endfor %}
  </tbody>

</table>

<script>
  $(document).ready(function() {


    $("#id_shemadgneloba").change(function() {

      clearComboElements(['#id_zoma','#id_erteulis_fasi']);
      getChildElements('#id_zoma', $("#id_shemadgneloba").val());

    });

    $("#id_zoma").change(function(){

      clearComboElements(['#id_erteulis_fasi']);
      getChildElements('#id_erteulis_fasi', $("#id_zoma").val());

    });


  });
</script>


{% endblock %}
